{% extends 'base.html.twig' %}

{% block body %}
    <h2>Welcome to Doctrine Migrations learning page</h2>

    <br>

    <div>
        <p>List Product</p>
        <table>
            <thead>Product Header</thead>
            <tbody>
                <tr>
                    <td>
                        abc
                    </td>
                    <td>
                        <input type="button" value="Edit" onclick="">
                    </td>
                    <td>
                        <input type="button" value="Delete" onclick="">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <br>

    <div>
        <p>Actions: </p>
        <input type="button" value="Add" onclick="">
        <input type="button" value="Top Product" onclick="">
    </div>
{% endblock %}
